#header,
.food-name,
.desc,
.ingredients,
.steps {
  text-align: center;
  font-family: "Brush Script MT", cursive, sans-serif;
  font-weight: 800;
  color: rgb(12, 65, 240);
}

#header {
  font-size: 60px;
}

.food-name {
  font-size: 50px;
}

.desc,
.ingredients,
.steps {
  font-size: 35px;
  text-align: left;
}

.contents {
  font-family: sans-serif, serif;
  font-size: 18px;
  color: black;
  text-align: left;
}

#list {
  font-family: "Brush Script MT", cursive, sans-serif;
  font-size: 25px;
}

* {
  background-color: rgb(253, 209, 216);
}

.food-pic {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  display: block;
}